alembic==1.0.0
astroid==2.0.4
blis==0.7.7
catalogue==1.0.0
certifi==2018.8.24
chardet==3.0.4
ChatterBot==1.0.8
chatterbot-corpus==1.2.0
click==8.0.4
cymem==2.0.6
dominate==2.3.4
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.16.0
gunicorn==20.1.0
idna==2.7
importlib-metadata==4.11.3
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
langcodes==3.3.0
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==1.1.1
mathparse==0.1.2
mccabe==0.6.1
murmurhash==1.0.6
nltk==3.3
numpy==1.21.6
oauthlib==2.1.0
packaging==21.3
pathy==0.6.1
plac==1.1.3
preshed==3.0.6
psycopg2-binary==2.9.3
pydantic==1.8.2
pylint==2.1.1
pymongo==3.7.2
pyparsing==3.0.8
python-dateutil==2.8.2
python-dotenv==0.9.1
python-editor==1.0.3
python-twitter==3.4.2
pytz==2022.1
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
smart-open==5.2.1
spacy==2.3.5
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SQLAlchemy==1.3.24
srsly==1.0.5
thinc==7.4.5
tqdm==4.64.0
typer==0.4.1
typing-extensions==3.10.0.2
urllib3==1.23
visitor==0.1.3
wasabi==0.9.1
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.2.1
zipp==3.8.0
